# **Sai Ram**

### *https://www.kaggle.com/c/home-credit-default-risk*

In [365]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
from keras.models import Sequential
from keras.layers.core import Dense, Activation
from keras.callbacks import EarlyStopping
from keras.callbacks import ModelCheckpoint
import seaborn as sns
from sklearn import metrics, preprocessing
from sklearn.metrics import roc_curve, auc
from sklearn.model_selection import train_test_split
from datetime import datetime, timedelta

%matplotlib inline
%config InlineBackend.figure_format = 'retina'
pd.set_option('display.max_columns', 500)

## Consolidated Helper Functions

In [2]:
import shutil
import requests
import base64

# Encode text values to dummy variables(i.e. [1,0,0],[0,1,0],[0,0,1] for red,green,blue)
def encode_text_dummy(df, name):
    dummies = pd.get_dummies(df[name])
    for x in dummies.columns:
        dummy_name = "{}-{}".format(name, x)
        df[dummy_name] = dummies[x]
    df.drop(name, axis=1, inplace=True)


# Encode text values to a single dummy variable.  The new columns (which do not replace the old) will have a 1
# at every location where the original column (name) matches each of the target_values.  One column is added for
# each target value.
def encode_text_single_dummy(df, name, target_values):
    for tv in target_values:
        l = list(df[name].astype(str))
        l = [1 if str(x) == str(tv) else 0 for x in l]
        name2 = "{}-{}".format(name, tv)
        df[name2] = l


# Encode text values to indexes(i.e. [1],[2],[3] for red,green,blue).
def encode_text_index(df, name):
    le = preprocessing.LabelEncoder()
    df[name] = le.fit_transform(df[name])
    return le.classes_


# Encode a numeric column as zscores
def encode_numeric_zscore(df, name, mean=None, sd=None):
    if mean is None:
        mean = df[name].mean()

    if sd is None:
        sd = df[name].std()

    df[name] = (df[name] - mean) / sd


# Convert all missing values in the specified column to the median
def missing_median(df, name):
    med = df[name].median()
    df[name] = df[name].fillna(med)


# Convert all missing values in the specified column to the default
def missing_default(df, name, default_value):
    df[name] = df[name].fillna(default_value)


# Convert a Pandas dataframe to the x,y inputs that TensorFlow needs
def to_xy(df, target):
    result = []
    for x in df.columns:
        if x != target:
            result.append(x)
    # find out the type of the target column.  Is it really this hard? :(
    target_type = df[target].dtypes
    target_type = target_type[0] if hasattr(target_type, '__iter__') else target_type
    # Encode to int for classification, float otherwise. TensorFlow likes 32 bits.
    if target_type in (np.int64, np.int32):
        # Classification
        dummies = pd.get_dummies(df[target])
        return df.as_matrix(result).astype(np.float32), dummies.as_matrix().astype(np.float32)
    else:
        # Regression
        return df.as_matrix(result).astype(np.float32), df.as_matrix([target]).astype(np.float32)

# Nicely formatted time string
def hms_string(sec_elapsed):
    h = int(sec_elapsed / (60 * 60))
    m = int((sec_elapsed % (60 * 60)) / 60)
    s = sec_elapsed % 60
    return "{}:{:>02}:{:>05.2f}".format(h, m, s)


# Regression chart.
def chart_regression(pred,y,sort=True):
    t = pd.DataFrame({'pred' : pred, 'y' : y.flatten()})
    if sort:
        t.sort_values(by=['y'],inplace=True)
    a = plt.plot(t['y'].tolist(),label='expected')
    b = plt.plot(t['pred'].tolist(),label='prediction')
    plt.ylabel('output')
    plt.legend()
    plt.show()

# Remove all rows where the specified column is +/- sd standard deviations
def remove_outliers(df, name, sd):
    drop_rows = df.index[(np.abs(df[name] - df[name].mean()) >= (sd * df[name].std()))]
    df.drop(drop_rows, axis=0, inplace=True)


# Encode a column to a range between normalized_low and normalized_high.
def encode_numeric_range(df, name, normalized_low=-1, normalized_high=1,
                         data_low=None, data_high=None):
    if data_low is None:
        data_low = min(df[name])
        data_high = max(df[name])

    df[name] = ((df[name] - data_low) / (data_high - data_low)) \
               * (normalized_high - normalized_low) + normalized_low
        
# This function submits an assignment.  You can submit an assignment as much as you like, only the final
# submission counts.  The paramaters are as follows:
# data - Pandas dataframe output.
# key - Your student key that was emailed to you.
# no - The assignment class number, should be 1 through 1.
# source_file - The full path to your Python or IPYNB file.  This must have "_class1" as part of its name.  
# .             The number must match your assignment number.  For example "_class2" for class assignment #2.
def submit(data,key,no,source_file=None):
    if source_file is None and '__file__' not in globals(): raise Exception('Must specify a filename when a Jupyter notebook.')
    if source_file is None: source_file = __file__
    suffix = '_class{}'.format(no)
    if suffix not in source_file: raise Exception('{} must be part of the filename.'.format(suffix))
    with open(source_file, "rb") as image_file:
        encoded_python = base64.b64encode(image_file.read()).decode('ascii')
    ext = os.path.splitext(source_file)[-1].lower()
    if ext not in ['.ipynb','.py']: raise Exception("Source file is {} must be .py or .ipynb".format(ext))
    r = requests.post("https://api.heatonresearch.com/assignment-submit",
        headers={'x-api-key':key}, json={'csv':base64.b64encode(data.to_csv(index=False).encode('ascii')).decode("ascii"),
        'assignment': no, 'ext':ext, 'py':encoded_python})
    if r.status_code == 200:
        print("Success: {}".format(r.text))
    else: print("Failure: {}".format(r.text))

## Visualization Functions

In [3]:
# Plot a confusion matrix.
# cm is the confusion matrix, names are the names of the classes.
def plot_confusion_matrix(cm, names, title='Confusion matrix', cmap=plt.cm.Blues):
    plt.imshow(cm, interpolation='nearest', cmap=cmap)
    plt.title(title)
    plt.colorbar()
    tick_marks = np.arange(len(names))
    plt.xticks(tick_marks, names, rotation=45)
    plt.yticks(tick_marks, names)
    plt.tight_layout()
    plt.ylabel('True label')
    plt.xlabel('Predicted label')
    

# Plot an ROC. pred - the predictions, y - the expected output.
def plot_roc(pred,y):
    fpr, tpr, _ = roc_curve(y, pred)
    roc_auc = auc(fpr, tpr)

    plt.figure()
    plt.plot(fpr, tpr, label='ROC curve (area = %0.2f)' % roc_auc)
    plt.plot([0, 1], [0, 1], 'k--')
    plt.xlim([0.0, 1.0])
    plt.ylim([0.0, 1.05])
    plt.xlabel('False Positive Rate')
    plt.ylabel('True Positive Rate')
    plt.title('Receiver Operating Characteristic (ROC)')
    plt.legend(loc="lower right")
    plt.show()

## Set the desired TensorFlow output level for this example

In [4]:
tf.logging.set_verbosity(tf.logging.ERROR)

## Set filepath + filename

In [5]:
!ls

HomeCreditDefaultRisk.ipynb        bureau_balance.csv
HomeCredit_columns_description.csv bureau_balance_agg.hdf
POS_CASH_balance.csv               credit_card_balance.csv
application_test.csv               installments_payments.csv
application_train.csv              previous_application.csv
bureau.csv

Read CSVs

In [6]:
path = !pwd
# filename = os.path.join(path,"application_test.csv")

In [7]:
# bureau_balance = pd.read_csv('bureau_balance.csv', na_values=['NA','?'], sep=',',index_col='SK_ID_BUREAU')

In [8]:
# bureau_balance_past_tenure = pd.DataFrame(bureau_balance.groupby('SK_ID_BUREAU')['MONTHS_BALANCE'].min())

In [9]:
# bureau_balance_past_status = pd.DataFrame(bureau_balance.groupby('SK_ID_BUREAU')['STATUS'].value_counts())
# bureau_balance_past_status.columns = ['STATUS_COUNT']
# bureau_balance_past_status.reset_index(inplace=True)

In [10]:
# bureau_balance_past_status = bureau_balance_past_status.pivot_table(index=['SK_ID_BUREAU'], 
#             columns=['STATUS'], values='STATUS_COUNT').fillna(0)

In [11]:
# bureau_balance_agg = pd.merge(bureau_balance_past_status, bureau_balance_past_tenure, left_index = True, right_index = True)

In [12]:
# bureau_balance_agg.to_hdf('bureau_balance_agg.hdf','mydata',mode='w')

In [142]:
# bureau_balance = pd.read_hdf('bureau_balance_agg.hdf','mydata')

In [211]:
# bureau_balance.shape

In [212]:
# bureau = pd.read_csv('bureau.csv', na_values=['NA','?'], sep=',',index_col='SK_ID_CURR')

In [213]:
# bureau.reset_index(inplace=True)

In [214]:
# bureau.set_index('SK_ID_BUREAU',inplace=True)

In [215]:
# bureau = bureau.join(bureau_balance)

In [216]:
# CREDIT_ACTIVE - Pivot
# CREDIT_TYPE - Pivot
# CREDIT_CURRENCY - Pivot

# Numerics:
# DAYS_CREDIT - max, min, mean
# CREDIT_DAY_OVERDUE - max, min, mean
# DAYS_CREDIT_ENDDATE - max, min, mean
# DAYS_ENDDATE_FACT -

In [217]:
# bureau._get_numeric_data().columns

In [218]:
# bureau.reset_index(inplace=True)

In [219]:
# buroh = bureau.groupby('SK_ID_CURR')['DAYS_CREDIT', 'CREDIT_DAY_OVERDUE',
#        'DAYS_CREDIT_ENDDATE', 'DAYS_ENDDATE_FACT', 'AMT_CREDIT_MAX_OVERDUE',
#        'CNT_CREDIT_PROLONG', 'AMT_CREDIT_SUM', 'AMT_CREDIT_SUM_DEBT',
#        'AMT_CREDIT_SUM_LIMIT', 'AMT_CREDIT_SUM_OVERDUE', 'DAYS_CREDIT_UPDATE',
#        'AMT_ANNUITY', '0', '1', '2', '3', '4', '5', 'C', 'X',
#        'MONTHS_BALANCE'].agg([pd.np.min, pd.np.max, pd.np.mean, pd.np.median])

In [220]:
# buroh['SK_ID_BUREAU_COUNT'] = bureau.groupby('SK_ID_CURR')['SK_ID_BUREAU'].count()

In [221]:
# CREDIT_ACTIVE - Pivot
# CREDIT_TYPE - Pivot
# CREDIT_CURRENCY - Pivot

In [222]:
# burohCats = pd.crosstab(bureau.SK_ID_CURR, bureau.CREDIT_ACTIVE).join(
#     pd.crosstab(bureau.SK_ID_CURR, bureau.CREDIT_TYPE)).join(
#     pd.crosstab(bureau.SK_ID_CURR, bureau.CREDIT_CURRENCY))

In [223]:
# buroh = buroh.join(burohCats)

In [224]:
# buroh.shape

In [225]:
# buroh.to_hdf('buroh.hdf','mydata',mode='w')

In [226]:
buroh = pd.read_hdf('buroh.hdf','mydata')

In [231]:
buroh.dtypes.value_counts()

float64    76
int64      32
dtype: int64

![title](Schema.png)

In [233]:
POS_CASH_balance = pd.read_csv('POS_CASH_balance.csv', na_values=['NA','?'], sep=',',index_col='SK_ID_CURR')

/Users/princeh/anaconda3/lib/python3.6/site-packages/numpy/lib/arraysetops.py:463: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [393]:
POS_CASH_balance.loc[POS_CASH_balance.SK_ID_PREV == 1004391].sort_values(['SK_ID_PREV','MONTHS_BALANCE'])

,SK_ID_PREV,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
SK_ID_CURR,,,,,,,
173320,1004391,-19,12.0,12.0,Active,0,0
173320,1004391,-18,12.0,11.0,Active,0,0
173320,1004391,-17,12.0,10.0,Active,0,0
173320,1004391,-16,12.0,8.0,Active,0,0
173320,1004391,-15,12.0,8.0,Active,0,0
173320,1004391,-14,12.0,7.0,Active,0,0
173320,1004391,-13,12.0,6.0,Active,0,0
173320,1004391,-12,12.0,4.0,Active,0,0
173320,1004391,-11,12.0,3.0,Active,0,0
173320,1004391,-10,12.0,2.0,Active,2,2
173320,1004391,-9,12.0,1.0,Active,0,0
173320,1004391,-8,12.0,0.0,Active,3,3
173320,1004391,-7,12.0,0.0,Completed,0,0

In [ ]:
SK_ID_PREV.value_counts() -> count of prev loans
# min(MONTHS_BALANCE) -> agreed tenure
# max(MONTHS_BALANCE) -> advance settlement
/ min(MONTHS_BALANCE) - max(MONTHS_BALANCE) -> settlement tenure
CNT_INSTALMENT -> count of ups and count of downs and difference
POS_CASH_balance.CNT_INSTALMENT_FUTURE - POS_CASH_balance.CNT_INSTALMENT_FUTURE.shift(-1) -> 
NAME_CONTRACT_STATUS -> final status / POS_CASH_balance.groupby('SK_ID_PREV')['CNT_INSTALMENT_FUTURE'].min()
SK_DPD.sum() / SK_DPD_DEF.sum()

In [383]:
POS = pd.DataFrame(POS_CASH_balance.groupby(POS_CASH_balance.index)['SK_ID_PREV'].nunique())

In [391]:
POS_CASH_balance.SK_ID_PREV.nunique() == len(POS_CASH_balance)

10001358

In [387]:
POS_CASH_balance.groupby('SK_ID_PREV')['MONTHS_BALANCE'].agg([pd.np.min, pd.np.max, pd.np.mean, pd.np.median])

            amin  amax  mean  median
SK_ID_PREV
1000001      -10    -8  -9.0    -9.0
1000002      -54   -50 -52.0   -52.0
1000003       -4    -1  -2.5    -2.5
1000004      -29   -22 -25.5   -25.5
1000005      -56   -46 -51.0   -51.0
1000007       -5    -1  -3.0    -3.0
1000008      -43   -34 -38.5   -38.5
1000009      -16   -10 -13.0   -13.0
1000010      -19    -9 -14.0   -14.0
1000011      -15    -3  -9.0    -9.0
1000012      -30   -18 -24.0   -24.0
1000013      -46   -34 -40.0   -40.0
1000014      -45   -37 -41.0   -41.0
1000015      -46   -38 -42.0   -42.0
1000016      -24   -18 -21.0   -21.0
1000017      -17    -5 -11.0   -11.0
1000019      -77   -66 -71.5   -71.5
1000020      -66   -54 -60.0   -60.0
1000021      -96   -92 -94.0   -94.0
1000022      -80   -75 -77.5   -77.5
1000023      -11    -7  -9.0    -9.0
1000024      -70   -58 -64.0   -64.0
1000025      -15    -4  -9.5    -9.5
1000026       -5    -2  -3.5    -3.5
1000027      -13    -7 -10.0   -10.0
1000028      -16   -14 -15.0   -15.0
1000029       -9    -3  -6.0    -6.0
1000032      -18    -7 -12.5   -12.5
1000033      -17   -10 -13.5   -13.5
1000034      -25   -17 -21.0   -21.0
...          ...   ...   ...     ...
2843465      -65   -50 -57.5   -57.5
2843466      -18   -12 -15.0   -15.0
2843467      -60   -53 -56.5   -56.5
2843468      -81   -77 -79.0   -79.0
2843469      -69   -57 -63.0   -63.0
2843470      -44   -32 -38.0   -38.0
2843471       -6    -1  -3.5    -3.5
2843472      -10    -3  -6.5    -6.5
2843473       -5    -1  -3.0    -3.0
2843474      -40   -22 -31.0   -31.0
2843475      -87   -77 -82.0   -82.0
2843479      -13    -2  -7.5    -7.5
2843480      -86   -80 -83.0   -83.0
2843481      -88   -78 -83.0   -83.0
2843482      -90   -74 -82.0   -82.0
2843483      -43   -31 -37.0   -37.0
2843484      -49   -37 -43.0   -43.0
2843485       -9    -1  -5.0    -5.0
2843486      -19   -13 -16.0   -16.0
2843487       -9    -2  -5.5    -5.5
2843488      -26   -16 -21.0   -21.0
2843489      -29    -5 -17.0   -17.0
2843490      -90   -84 -87.0   -87.0
2843491      -10    -1  -5.5    -5.5
2843492      -23   -11 -17.0   -17.0
2843494      -26   -24 -25.0   -25.0
2843495      -16    -9 -12.5   -12.5
2843497      -21    -1 -11.0   -11.0
2843498      -48   -42 -45.0   -45.0
2843499      -40   -30 -35.0   -35.0

[936325 rows x 4 columns]

In [384]:
POS_CASH_balance.

,SK_ID_PREV,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
SK_ID_CURR,,,,,,,
182943,1803195,-31,48.0,45.0,Active,0,0
367990,1715348,-33,36.0,35.0,Active,0,0
397406,1784872,-32,12.0,9.0,Active,0,0
269225,1903291,-35,48.0,42.0,Active,0,0
334279,2341044,-35,36.0,35.0,Active,0,0
342166,2207092,-32,12.0,12.0,Active,0,0
204376,1110516,-38,48.0,43.0,Active,0,0
153211,1387235,-35,36.0,36.0,Active,0,0
112740,1220500,-31,12.0,12.0,Active,0,0
274851,2371489,-32,24.0,16.0,Active,0,0
287361,2328294,-32,12.0,12.0,Active,0,0
237959,2023570,-39,12.0,12.0,Active,0,0
278261,1258390,-32,36.0,36.0,Active,0,0
146161,1627166,-33,24.0,24.0,Active,0,0
131467,1711625,-34,12.0,5.0,Active,0,0
204722,2374177,-35,24.0,15.0,Active,0,0
405549,1716688,-33,12.0,1.0,Active,0,0
380050,1846127,-31,36.0,28.0,Active,0,0
312551,1911764,-32,24.0,16.0,Active,0,0
152810,2645133,-35,24.0,23.0,Active,0,0
195362,1381005,-34,60.0,56.0,Active,0,0
169489,1366811,-38,24.0,24.0,Active,0,0
244684,1260621,-32,18.0,12.0,Active,0,0
220181,1445556,-41,12.0,12.0,Active,0,0
386836,1420240,-41,12.0,11.0,Active,0,0
337149,2631694,-33,12.0,11.0,Active,0,0
139637,1059679,-31,12.0,12.0,Active,0,0
202091,1865970,-35,12.0,7.0,Active,0,0
454237,2683316,-32,18.0,15.0,Active,0,0
428330,2759941,-32,18.0,18.0,Active,0,0
...,...,...,...,...,...,...,...
422685,2256531,-20,6.0,0.0,Active,0,0
104779,1540335,-27,6.0,0.0,Active,0,0
141565,1717234,-18,12.0,0.0,Active,630,0
210494,2476257,-18,6.0,0.0,Active,0,0
448867,2700641,-18,6.0,0.0,Active,871,0
417692,2715817,-18,6.0,0.0,Active,948,0
305835,2149359,-19,12.0,0.0,Active,903,0
433445,1074985,-22,12.0,0.0,Active,0,0
292180,1214793,-21,12.0,0.0,Active,850,0
356195,2305826,-18,12.0,0.0,Active,804,0
305218,1013514,-27,16.0,0.0,Signed,0,0
370184,1609165,-21,15.0,0.0,Signed,0,0
233660,1413755,-19,24.0,0.0,Signed,0,0
293579,2275842,-20,6.0,0.0,Signed,0,0
165586,1641388,-19,10.0,0.0,Active,1063,0
383432,1816071,-23,6.0,0.0,Signed,0,0
102784,1086035,-26,24.0,0.0,Active,654,0
412155,1773550,-18,6.0,0.0,Signed,0,0
381218,2210119,-22,12.0,0.0,Active,1016,0
385297,1522999,-21,12.0,0.0,Active,0,0
191559,2234984,-22,6.0,0.0,Active,797,0
104125,2340692,-24,6.0,0.0,Active,944,0
198894,2593362,-20,12.0,0.0,Completed,0,0
288279,2639809,-25,6.0,0.0,Active,925,0
448867,2700641,-19,6.0,0.0,Active,843,0
226558,2448283,-20,6.0,0.0,Active,843,0
141565,1717234,-19,12.0,0.0,Active,602,0
315695,1283126,-21,10.0,0.0,Active,609,0
450255,1082516,-22,12.0,0.0,Active,614,0
174278,1259607,-52,16.0,0.0,Completed,0,0

In [352]:
credit_card_balance = pd.read_csv('credit_card_balance.csv', na_values=['NA','?'], sep=',',index_col='SK_ID_CURR')

/Users/princeh/anaconda3/lib/python3.6/site-packages/numpy/lib/arraysetops.py:463: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [364]:
credit_card_balance.sort_values(['SK_ID_PREV','MONTHS_BALANCE'])

,SK_ID_PREV,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,,
394447,1000018,-6,38879.145,45000,13500.0,51042.645,0.0,37542.645,0.000,9000.000,9000.000,37542.645,37542.645,37542.645,3.0,15,0.0,12.0,0.0,Active,0,0
394447,1000018,-5,40934.070,45000,0.0,2335.500,0.0,2335.500,2250.000,3900.870,3900.870,39576.780,40934.070,40934.070,0.0,2,0.0,2.0,1.0,Active,0,0
394447,1000018,-4,44360.505,45000,0.0,2032.560,0.0,2032.560,2250.000,3646.710,3646.710,43376.760,44360.505,44360.505,0.0,2,0.0,2.0,2.0,Active,0,0
394447,1000018,-3,113862.285,135000,13500.0,69156.945,0.0,55656.945,2263.770,3190.635,3190.635,108091.800,109150.785,109150.785,3.0,14,0.0,11.0,3.0,Active,0,0
394447,1000018,-2,136695.420,135000,0.0,22827.330,0.0,22827.330,6206.670,7970.535,7970.535,132903.000,136024.920,136024.920,0.0,11,0.0,11.0,4.0,Active,0,0
361282,1000030,-8,0.000,45000,NaN,0.000,NaN,NaN,0.000,NaN,0.000,0.000,0.000,0.000,NaN,0,NaN,NaN,0.0,Active,0,0
361282,1000030,-7,15583.635,45000,4500.0,31105.755,0.0,26605.755,0.000,16067.250,16067.250,15130.755,15138.135,15138.135,1.0,14,0.0,13.0,0.0,Active,0,0
361282,1000030,-6,33784.740,45000,0.0,20212.650,0.0,20212.650,0.000,2567.655,317.655,33725.745,33784.740,33784.740,0.0,8,0.0,8.0,0.0,Active,0,0
361282,1000030,-5,36885.285,45000,0.0,6368.850,0.0,6368.850,2250.000,5022.765,2772.765,36499.770,36885.285,36885.285,0.0,3,0.0,3.0,1.0,Active,0,0
361282,1000030,-4,59188.050,135000,0.0,25312.050,0.0,25312.050,2250.000,2371.815,121.815,58778.280,59188.050,59188.050,0.0,7,0.0,7.0,2.0,Active,0,0
361282,1000030,-3,100264.455,112500,0.0,46660.500,0.0,46660.500,2250.000,4849.650,322.380,99775.260,100264.455,100264.455,0.0,4,0.0,4.0,3.0,Active,0,0
361282,1000030,-2,99195.075,112500,0.0,1849.050,0.0,1849.050,4527.270,6442.695,1094.175,98019.090,99195.075,99195.075,0.0,2,0.0,2.0,4.0,Active,0,0
361282,1000030,-1,103027.275,112500,0.0,6550.650,0.0,6550.650,5348.520,5998.590,567.540,101866.725,103027.275,103027.275,0.0,3,0.0,3.0,5.0,Active,0,0
131335,1000031,-16,0.000,45000,NaN,0.000,NaN,NaN,0.000,NaN,0.000,0.000,0.000,0.000,NaN,0,NaN,NaN,0.0,Active,0,0
131335,1000031,-15,0.000,45000,NaN,0.000,NaN,NaN,0.000,NaN,0.000,0.000,0.000,0.000,NaN,0,NaN,NaN,0.0,Active,0,0
131335,1000031,-14,0.000,45000,NaN,0.000,NaN,NaN,0.000,NaN,0.000,0.000,0.000,0.000,NaN,0,NaN,NaN,0.0,Active,0,0
131335,1000031,-13,5805.495,45000,0.0,5805.495,0.0,5805.495,0.000,NaN,0.000,5805.495,5805.495,5805.495,0.0,2,0.0,2.0,0.0,Active,0,0
131335,1000031,-12,0.000,225000,0.0,3439.845,0.0,3439.845,2250.000,10534.905,10534.905,0.000,0.000,0.000,0.0,2,0.0,2.0,1.0,Active,0,0
131335,1000031,-11,0.000,225000,0.0,0.000,0.0,0.000,225.000,619.065,619.065,0.000,0.000,0.000,0.0,0,0.0,0.0,2.0,Active,0,0
131335,1000031,-10,0.000,225000,0.0,0.000,0.0,0.000,0.000,394.065,394.065,0.000,0.000,0.000,0.0,0,0.0,0.0,2.0,Active,0,0
131335,1000031,-9,154945.935,225000,0.0,155340.000,0.0,155340.000,0.000,394.065,394.065,154945.935,154945.935,154945.935,0.0,2,0.0,2.0,2.0,Active,0,0
131335,1000031,-8,0.000,225000,0.0,0.000,0.0,0.000,7780.815,160606.800,160606.800,0.000,0.000,0.000,0.0,0,0.0,0.0,3.0,Active,0,0
131335,1000031,-7,114034.635,225000,0.0,118800.000,0.0,118800.000,225.000,4990.365,4990.365,114034.635,114034.635,114034.635,0.0,4,0.0,4.0,4.0,Active,0,0
131335,1000031,-6,0.000,144000,0.0,15255.000,0.0,15255.000,6498.000,133181.100,133181.100,0.000,0.000,0.000,0.0,2,0.0,2.0,5.0,Active,0,0
131335,1000031,-5,46510.020,144000,45000.0,47862.000,0.0,2862.000,225.000,3220.965,3220.965,44866.035,44939.520,44939.520,1.0,2,0.0,1.0,6.0,Active,0,0
131335,1000031,-4,105776.865,144000,90000.0,90000.000,0.0,0.000,4694.895,18507.240,18507.240,101940.795,104206.365,104206.365,2.0,2,0.0,0.0,7.0,Active,0,0
131335,1000031,-3,139816.755,144000,22500.0,23526.000,0.0,1026.000,6275.835,6750.000,6750.000,135542.835,138246.255,138246.255,1.0,2,0.0,1.0,8.0,Active,0,0
131335,1000031,-2,135634.635,144000,0.0,0.000,0.0,0.000,7396.245,7670.520,7670.520,132604.605,135634.635,135634.635,0.0,0,0.0,0.0,9.0,Active,0,0
131335,1000031,-1,135786.690,144000,0.0,3325.500,0.0,3325.500,7234.020,7650.000,7650.000,132705.720,135786.690,135786.690,0.0,3,0.0,3.0,10.0,Active,0,0
436351,1000035,-6,0.000,225000,NaN,0.000,NaN,NaN,0.000,NaN,0.000,0.000,0.000,0.000,NaN,0,NaN,NaN,0.0,Active,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337804,2843493,-15,0.000,45000,NaN,0.000,NaN,NaN,0.000,NaN,0.000,0.000,0.000,0.000,NaN,0,NaN,NaN,0.0,Active,0,0
337804,2843493,-14,25522.110,90000,0.0,24885.000,0.0,24885.000,0.000,NaN,0.000,24885.000,24885.000,24885.000,0.0,2,0.0,2.0,0.0,Active,0,0
337804,2843493,-13,25036.515,90000,0.0,2969.100,0.0,2969.100,2250.000,4997.700,4500.000,23991.210,24903.945,24903.945,0.0,1,0.0,1.0,1.0,Active,0,0
337804,2843493,-12,64969.380,135000,0.0,47839.500,0.0,47839.500,2250.000,9059.400,6809.400,64704.825,64969.380,64969.380,0.0,2,0.0,2.0,2.0,Active,0,0
337804,2843493,-11,70159.635,135000,0.0,3565.800,0.0,3565.800,2250.000,0.000,0.000,68270.625,68963.445,68963.445,0.0,1,0.0,1.0,3.0,Active,0,0
337804,2843493,-10,70222.185,135000,0.0,0.000,0.0,0.000,3496.230,4500.000,4500.000,65424.780,69047.910,69047.910,0.0,0,0.0,0.0,4.0,Active,0,0
337804,2843493,-9,68541.165,135000,0.0,0.000,0.0,0.000,3468.240,4500.000,4500.000,64864.665,67371.210,67371.210,0.0,0,0.0,0.0,5.0,Active,0,0
337804,2843493,-8,66804.030,135000,0.0,0.000,0.0,0.000,3381.885,4500.000,4500.000,63137.880,65647.350,65647.350,0.0,0,0.0,0.0,6.0,Active,0,0
337804,2843493,-7,62644.140,135000,0.0,0.000,0.0,0.000,3296.250,6750.000,6750.000,59174.775,61517.970,61517.970,0.0,0,0.0,0.0,7.0,Active,0,0
337804,2843493,-6,60719.130,135000,0.0,0.000,0.0,0.000,3093.435,4500.000,4500.000,57368.565,59606.910,59606.910,0.0,0,0.0,0.0,8.0,Active,0,0
337804,2843493,-5,78839.595,225000,0.0,28998.000,0.0,28998.000,2996.010,13500.000,9141.030,78179.625,78839.595,78839.595,0.0,1,0.0,1.0,9.0,Active,0,0
337804,2843493,-4,72921.015,225000,0.0,0.000,0.0,0.000,4358.970,9579.960,5536.305,71873.190,72921.015,72921.015,0.0,0,0.0,0.0,10.0,Active,0,0
337804,2843493,-3,75970.080,225000,0.0,0.000,0.0,0.000,4043.655,0.000,0.000,71873.190,74746.170,74746.170,0.0,0,0.0,0.0,11.0,Active,0,0
337804,2843493,-2,74304.135,225000,0.0,0.000,0.0,0.000,3748.455,4500.000,4500.000,70469.190,73091.025,73091.025,0.0,0,0.0,0.0,12.0,Active,0,0
337804,2843493,-1,70445.790,225000,0.0,0.000,0.0,0.000,3674.790,6750.000,6750.000,66745.980,69261.345,69261.345,0.0,0,0.0,0.0,13.0,Active,0,0
425374,2843496,-15,0.000,630000,0.0,0.000,0.0,0.000,0.000,NaN,0.000,0.000,0.000,0.000,0.0,0,0.0,0.0,0.0,Active,0,0
425374,2843496,-14,0.000,630000,0.0,1704.780,0.0,1704.780,0.000,1800.000,945.675,0.000,0.000,0.000,0.0,4,0.0,4.0,0.0,Active,0,0
425374,2843496,-13,117387.045,630000,135000.0,137109.555,0.0,2109.555,854.325,24750.000,17835.300,115653.780,117387.045,117387.045,1.0,4,0.0,3.0,1.0,Active,0,0
425374,2843496,-12,179685.045,630000,67500.0,74143.350,0.0,6643.350,6914.700,9000.000,2686.230,175775.670,178114.545,178114.545,1.0,3,0.0,2.0,2.0,Active,0,0
425374,2843496,-11,189972.450,630000,18000.0,35983.845,0.0,17983.845,6313.770,31050.000,22459.140,186200.955,188401.950,188401.950,1.0,4,0.0,3.0,3.0,Active,0,0
425374,2843496,-10,101473.380,630000,0.0,19899.720,0.0,19899.720,8590.860,87750.000,80024.535,99749.205,101473.380,101473.380,0.0,7,0.0,7.0,4.0,Active,0,0
425374,2843496,-9,76000.545,630000,0.0,0.000,0.0,0.000,7725.465,47250.000,41709.330,74813.535,76000.545,76000.545,0.0,0,0.0,0.0,5.0,Active,0,0
425374,2843496,-8,1086.750,630000,0.0,441.900,0.0,441.900,5540.670,97794.000,93453.840,0.000,0.000,0.000,0.0,2,0.0,2.0,6.0,Active,0,0
425374,2843496,-7,0.000,630000,0.0,383.175,0.0,383.175,4340.160,1090.305,3.555,0.000,0.000,0.000,0.0,1,0.0,1.0,7.0,Active,0,0
425374,2843496,-6,0.000,630000,0.0,1138.500,0.0,1138.500,1086.750,1350.000,206.325,0.000,0.000,0.000,0.0,1,0.0,1.0,8.0,Active,0,0
425374,2843496,-5,0.000,630000,0.0,1215.000,0.0,1215.000,1143.675,1350.000,333.540,0.000,0.000,0.000,0.0,1,0.0,1.0,9.0,Active,0,0
425374,2843496,-4,0.000,630000,0.0,0.000,0.0,0.000,1016.460,333.540,333.540,0.000,0.000,0.000,0.0,0,0.0,0.0,10.0,Active,0,0
425374,2843496,-3,0.000,630000,0.0,659.250,0.0,659.250,0.000,450.000,121.770,0.000,0.000,0.000,0.0,1,0.0,1.0,10.0,Active,0,0
425374,2843496,-2,0.000,630000,0.0,0.000,0.0,0.000,328.230,121.770,121.770,0.000,0.000,0.000,0.0,0,0.0,0.0,11.0,Active,0,0
425374,2843496,-1,0.000,630000,0.0,0.000,0.0,0.000,0.000,121.770,121.770,0.000,0.000,0.000,0.0,0,0.0,0.0,11.0,Active,0,0

In [332]:
# POS_CASH_balance.loc[(POS_CASH_balance.SK_DPD!=0) &(POS_CASH_balance.SK_DPD_DEF!=0)].SK_ID_PREV.value_counts()[POS_CASH_balance.loc[(POS_CASH_balance.SK_DPD!=0) &(POS_CASH_balance.SK_DPD_DEF!=0)].SK_ID_PREV.value_counts() == 2]

In [280]:
POS_CASH_balance.NAME_CONTRACT_STATUS.value_counts()

Active                   9151119
Completed                 744883
Signed                     87260
Demand                      7065
Returned to the store       5461
Approved                    4917
Amortized debt               636
Canceled                      15
XNA                            2
Name: NAME_CONTRACT_STATUS, dtype: int64

In [ ]:
installments_payments = pd.read_csv('installments_payments.csv', na_values=['NA','?'], sep=',',index_col='SK_ID_CURR')

In [349]:
previous_application = pd.read_csv('previous_application.csv', na_values=['NA','?'], sep=',',index_col='SK_ID_CURR')

/Users/princeh/anaconda3/lib/python3.6/site-packages/numpy/lib/arraysetops.py:463: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [ ]:
TrainDF = pd.read_csv('application_train.csv', na_values=['NA','?'], sep=',',index_col='SK_ID_CURR')

In [ ]:
TestDF = pd.read_csv('application_test.csv', na_values=['NA','?'], sep=',',index_col='SK_ID_CURR')

In [ ]:
# chunksize = 100000
# TextFileReader = pd.read_csv(filename,na_values=['NA','?'], engine='python', low_memory = True, sep=',', chunksize=chunksize, iterator=True)
# df = pd.concat(TextFileReader, ignore_index=True)

Converting Date Cols as integers

In [ ]:
# df['click_time'] =  pd.to_datetime(df.click_time).astype(np.int64)
# df['attributed_time'] =  pd.to_datetime(df.attributed_time).astype(np.int64)

# # Sort by date
# df = df.sort_values(by =['app','click_time'])

In [ ]:
# df.to_hdf('talkingData.hdf','mydata',mode='w')

In [ ]:
# df = pd.read_hdf('talkingData.hdf','mydata')

In [ ]:
# df.dtypes

In [ ]:
def mem_usage(pandas_obj):
    if isinstance(pandas_obj,pd.DataFrame):
        usage_b = pandas_obj.memory_usage(deep=True).sum()
    else: # we assume if not a df it's a series
        usage_b = pandas_obj.memory_usage(deep=True)
    usage_mb = usage_b / 1024 ** 2 # convert bytes to megabytes
    return "{:03.2f} MB".format(usage_mb)

In [ ]:
# df_int = df.select_dtypes(include = ['int'])
# converted_int = df_int.apply(pd.to_numeric, downcast = 'unsigned')

In [ ]:
# print(mem_usage(df_int))
# print(mem_usage(converted_int))

In [ ]:
# converted_int.to_hdf('converted_int.hdf','mydata',mode='w')

In [ ]:
# df = pd.read_hdf('converted_int.hdf','mydata')

In [ ]:
# mem_usage(df)

In [ ]:
# df['pace'] = np.where((df['app'] == df['app'].shift(1)), df['click_time'] - df['click_time'].shift(1), -1)

# df['ipChanged'] = np.where(((df['ip'] == df['ip'].shift(1)) & (df['app'] == df['app'].shift(1))), 0, 1)
# df['deviceChanged'] = np.where(((df['device'] == df['device'].shift(1)) & (df['app'] == df['app'].shift(1))), 0, 1)
# df['osChanged'] = np.where(((df['os'] == df['os'].shift(1)) & (df['app'] == df['app'].shift(1))), 0, 1)
# df['channelChanged'] = np.where(((df['channel'] == df['channel'].shift(1)) & (df['app'] == df['app'].shift(1))), 0, 1)

In [ ]:
# mem_usage(converted_int)

In [ ]:
# df_int = df.select_dtypes(include = ['int'])
# converted_int = df_int.apply(pd.to_numeric, downcast = 'unsigned')

In [ ]:
# df_float = df.select_dtypes(include=['float'])
# converted_float = df_float.apply(pd.to_numeric,downcast='float')

In [ ]:
# df1 = df.drop(columns=['attributed_time','pace','ipChanged','deviceChanged','osChanged','channelChanged'])

In [ ]:
# df1.to_hdf('df1.hdf','mydata',mode='w')

In [ ]:
# drew = pd.merge(df1, converted_int, left_index=True, right_index=True)

In [ ]:
# drew.to_hdf('drew.hdf','mydata',mode='w')

In [ ]:
# draft = pd.merge(drew, converted_float, left_index=True, right_index=True)

In [ ]:
# draft.drop(columns = 'pace', inplace = True)

In [ ]:
# draft.to_hdf('draft.hdf','mydata',mode='w')

In [ ]:
df = pd.read_hdf('draft.hdf','mydata')

In [ ]:
mem_usage(df)

In [ ]:
df = df.drop(columns = ['attributed_time'])

In [ ]:
# for col in ['is_attributed','ipChanged','deviceChanged','osChanged','channelChanged']:
#     df[col] = df[col].astype('category')

In [ ]:
mem_usage(df)

In [ ]:
# df.reset_index(inplace=True)
# df.drop(columns='index',axis=0,inplace=True)
# df.index.name = 'event'

In [ ]:
df['ipCount'] = 0
df['ipCount'] = df['ipCount'].apply(pd.to_numeric, downcast = 'unsigned')
df['deviceCount'] = 0
df['deviceCount'] = df['deviceCount'].apply(pd.to_numeric, downcast = 'unsigned')
df['osCount'] = 0
df['osCount'] = df['osCount'].apply(pd.to_numeric, downcast = 'unsigned')
df['channelCount'] = 0
df['channelCount'] = df['channelCount'].apply(pd.to_numeric, downcast = 'unsigned')
df['linkages'] = 0
df['linkages'] = df['linkages'].apply(pd.to_numeric, downcast = 'unsigned')

In [ ]:
df.to_hdf('df.hdf','mydata',mode='w')

In [ ]:
df = pd.read_hdf('df.hdf','mydata')

In [ ]:
# for col in ['ipCount','deviceCount','osCount','channelCount','linkages']:
#     df[col] = df[col].apply(pd.to_numeric, downcast = 'unsigned')

In [ ]:
ipCount = []
deviceCount = []
osCount = []
channelCount = []
linkages = []

for index, row in df.iterrows():
    ipCount.append(df.loc[((df.index <= index) & (df.app == row.app)),'ip'].nunique()).apply(pd.to_numeric, downcast = 'unsigned')
    deviceCount.append(df.loc[((df.index <= index) & (df.app == row.app)),'device'].nunique()).apply(pd.to_numeric, downcast = 'unsigned')
    osCount.append(df.loc[((df.index <= index) & (df.app == row.app)),'os'].nunique()).apply(pd.to_numeric, downcast = 'unsigned')
    channelCount.append(df.loc[((df.index <= index) & (df.app == row.app)),'channel'].nunique()).apply(pd.to_numeric, downcast = 'unsigned')
    linkages.append(df.loc[((df.index <= index) & (df.ip == row.ip)),'app'].nunique()).apply(pd.to_numeric, downcast = 'unsigned')
#     print(index, row.app)

In [ ]:
df.ipCount = ipCount
df.deviceCount = deviceCount
df.osCount = osCount
df.channelCount = channelCount
df.linkages = linkages

In [ ]:
# df_ip = pd.DataFrame(df.groupby('ip')['app'].nunique())
# df_ip.columns = ['linkages']
# df_ip_links = pd.merge(df, df_ip, left_on='ip', right_index=True)
# df_consolidated = pd.merge(df_ip_links, df, left_index=True, right_index=True)

In [ ]:
df = df.drop(columns = ['ip','device','app','channel','os','click_time','attributed_time'], axis=1)

In [ ]:
# df.ip = df.ip.astype(str)
# df.app = df.app.astype(str)
# df.device = df.device.astype(str)
# df.os = df.os.astype(str)
# df.channel = df.channel.astype(str)

In [ ]:
df.head()

In [ ]:
# Encode feature vector
# df.drop(['ip', 'device', 'os', 'channel', 'click_time'],axis=1,inplace=True)
diagnosis = encode_text_index(df,'is_attributed')
num_classes = len(diagnosis)

In [ ]:
# Create the x-side (feature vectors) of the training
x, y = to_xy(df,'is_attributed')

In [ ]:
df

In [ ]:
# Split into train/test
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=42)

In [ ]:
# Build network
model = Sequential()
model.add(Dense(50, input_dim=x.shape[1], activation='relu'))
model.add(Dense(25, activation='relu'))
model.add(Dense(10, activation='relu'))
model.add(Dense(y.shape[1],activation='softmax'))
model.compile(loss='categorical_crossentropy', optimizer='adam')
monitor = EarlyStopping(monitor='val_loss', min_delta=1e-3, patience=5, verbose=1, mode='auto')
checkpointer = ModelCheckpoint(filepath="best_weights.hdf5", verbose=0, save_best_only=True) # save best model
model.fit(x_train,y_train,validation_data=(x_test,y_test),callbacks=[monitor,checkpointer],verbose=0,epochs=1000)
model.load_weights('best_weights.hdf5') # load weights from best model

In [ ]:
# Measure accuracy
pred = model.predict(x_test)
pred = np.argmax(pred,axis=1)
y_compare = np.argmax(y_test,axis=1)
score = metrics.accuracy_score(y_compare, pred)
print("Final accuracy: {}".format(score))

In [ ]:
# !conda install keras

Confusion Matrix

In [ ]:
from sklearn import svm, datasets
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

# Compute confusion matrix
cm = confusion_matrix(y_compare, pred)
np.set_printoptions(precision=2)
print('Confusion matrix, without normalization')
print(cm)
plt.figure()
plot_confusion_matrix(cm, diagnosis)

# Normalize the confusion matrix by row (i.e by the number of samples
# in each class)
cm_normalized = cm.astype('float') / cm.sum(axis=1)[:, np.newaxis]
print('Normalized confusion matrix')
print(cm_normalized)
plt.figure()
plot_confusion_matrix(cm_normalized, diagnosis, title='Normalized confusion matrix')

plt.show()

In [ ]:
pred = model.predict(x_test)
pred = pred[:,1] # Only positive cases
plot_roc(pred,y_compare)